

.logo{
	width: 200px;
	display: inline-block;
}

nav{
	display: inline-block;
	left: 900px;

}

ul{
	display: inline-block;
}

li{
	display: inline-block;
}



.paragraph1{
	width: 45%;
	float: left;
	display: inline-block;

}

.paragraph2{
	width: 45%;
	float: left;
	display: inline-block;
}

}
