@media all
(max-width: 980)


.logo{
	width: 200px;
	display: inline-block;
  }



.anvil{
	padding: 90px;
   max-width:100%;
   
}


nav{
	display: inline-block;
	color: gray;
	font-size: 36px;
    float: right;
}

ul{
	display: inline-block;
    
}

li{

	display:inline-block;
    text-shadow: 2px 2px 4px;
    
}

h3{text-shadow: 2px 2px 4px;}


.paragraph1{
	width: 45%;
	float: left;
	display: inline-block;
	color: gray;
	padding: 30px;
   border:  30px 
}

.paragraph2{
	width: 45%;
	float: left;
	display: inline-block;
	color: gray;
	padding: 30px;
   border:  30px 
}

